/* --------------------------------------------------------------------header */

header {
    height: 550px;
}

.bg-image {
    background-image: url(../media/resume_project.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.main-header {
    padding-top: 20px;
}

.sub-header { 
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 70%;
    padding: 20px;
    text-align: center;
}

.download {
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid white;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff !important;
    font-size: 14px;
    transition: all 0.5s;
    float: right;
}

.download:hover {
    color: #df3143 !important;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #df3143;
}

#myBtn {
    cursor: pointer;
}

.nav-link {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s;
}

.nav-link:hover {
    color: #94a3ba;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
    transition: all .5s;
}

.active {
    background-color: transparent  !important;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
    color: #888;
}

.fixed-top {
    padding-left: 15px;
    padding-right: 15px;
}

.scroll {
    color: black !important;
}

.scroll-resume {
    color: black !important;
    border: 1px solid black;

}

.scroll-resume:hover {
    color: black !important;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
  .sub-header {
    position: relative;
    z-index: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0) ;
    transform: translate(-50%, -140%);
  }
  .sub-header h1,
  .sub-header h2 {
      font-size: 15px;
  }
  .download {
      position: relative;
      z-index: 0;
      float: none;
  }
  .donwnload-container {
      text-align: center;
      margin-top: 80px;
  }
  .about-me {
      text-align: center;
  }
}

@media only screen and (max-width: 900px) {
   .bg {
      display: none;
  }
}

@media only screen and (max-width: 1200px) {
    .arrow {
      display: none !important;
  }
}
/* -----------------------------------------------------------------main section */

.details {
    min-height: 700px;
}

.profile-image {
    background-image: url(../media/profile_image.jpg);
    background-size: cover;
    background-position: center center;
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 10px solid #fff;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: 30px;
  margin-right: 30px;
}

.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: #94a3ba !important;
}

.dot-container {
  text-align: center;
  background: #ddd;
  padding-top: 20px;
  padding-bottom: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.fade:not(.show) {
    opacity: 1; 
}

@media only screen and (max-width: 900px) {
    .profile-image {
        width: 200px;
        height: 200px;
        top: 47%;
  }
  .sub-heading h3 {
      text-align: center;
  }
  .border {
      display: none;
  }
  
}

@media only screen and (max-width: 360px) {
    .profile-image {
        top: 55%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .profile-image {
        top: 40%;
    }
}
@media only screen and (max-width: 1200px) {
    .prev,
    .next {
        display: none;
  }
}

/* -----------------------------------------------------------------about me */


.border {
    width: 10%;
    border: 3px solid #df3143 !important;
}

.sub-heading {
    padding-bottom: 40px;
    text-transform: uppercase;
    
}

.sub-heading h3 {
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 3.8px;
}

.social span i {
    font-size: 40px;
    padding-left: 20px;
    text-decoration: none;
    color: black; 
}

@media only screen and (max-width: 900px) {
  #about-social {
      position: absolute;
      top: 90%;
      text-align: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    #about-social {
        padding-left: 100px;
    }
}

/* -------------------------------------------------------education and jobs */

.date {
    font-size: 20px;
}

.description {
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .date {
        font-size: 15px;
    }
    .background h5 {
        padding-right: 30px;
    }
    .background div {
        padding-bottom: 20px;
    }
}

/* -----------------------------------------------------------interests*/

.hobbies {
    padding-top: 60px;
}

.hobbies span {
    border-radius: 50%;
    background-color:  #94a3ba;
    padding: 50px;
    margin-left: 25px;
    transition: all .5s;
    z-index: 2
}

.hobbies span i {
    font-size: 30px;
    color: #fff;
}

.hobbies span:hover {
    background-color: #212529;
}

.hobbies-header {
    margin-top: 60px
}

.interests {
    padding-left: 65px;
}

.hobbies-header h5 {
    position: relative;
    display: inline-block;
    margin-left: 60px;
}
 

@media screen and (max-width: 900px) {
    .hobbies span {
        padding: 25px;
    }
}

@media screen and (max-width: 1200px) {
    .hobbies span {
        padding: 35px;
        margin-left: 0;
    }
    .hobbies-header {
        display: none;
    }
    .hobbies {
        padding-top: 80px;
    }
}

/*--------------------------------------------------------------- skills */

.bg {
    height: 660px;
}

.skills {
    height: 670px;
    background-color: #fff;
}


.progress {
    position: relative;
    height: 25px;
    margin-bottom: 15px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 10px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
    font-size: 16px;
}

@media screen and (max-width: 900px ) {
    .progress-type {
        font-size: 14px;
    }
}

/*--------------------------------------------------------------- info and contact */

.information {
    height: 543px;
}

.info-container {
    background-color: #2e4975;
}

.contact-container {
    background-color: #bbc8dd;
}

.info {
    left: 55%;
    padding-top:100px;
    color: #fff;
}

.info th,
.info td {
    padding-bottom: 20px;
}

.info td {
    padding-left: 25px;
}

.contact {
    padding-top: 100px;
}

.form-control {
    margin-bottom: 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #79757d;
    border-radius: 0;
}

.form-control:hover {
    background-color: #fff;
    border: 1px solid #79757d
}

.button {
    background-color: #bbc8dd;
    font-weight: bold;
    border: none;
    font-size: 20px;
    color: #fff;
    transition: all 1s;
}

.button:hover {
    color: #888
}

.contact-header {
    margin-left: 15px;
}

@media screen and (max-width: 900px ) {
    .info {
        left: 0%;
        padding-top: 75px;
        padding-bottom: 30px;
    }
    .info th {
        padding-left: 50px;
    }
    .information {
        height: auto !important;
    }
    .contact {
        padding-top: 75px;
        padding-bottom: 50px;
    }
    .form-control {
        margin-bottom: 15px;
    }
    .contact-header {
        margin-left: 0;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .info {
        padding-left: 50px;
        left: 0;
    }
}

/*--------------------------------------------------------------- footer */

.footer-links {
    padding-top: 50px;
    margin-bottom: 20px;
}


.download-button {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 15px 150px;
    transition: all .5s;
}

.download-button:hover {
    text-decoration: none;
    color: #df3143;
    border: 1px solid #df3143;
}

#copyright {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .download-button-container {
        text-align: center;
    }
    #bottom-social {
        text-align: center;
    }
    .follow {
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .download-button {
        padding: 10px 70px;
    }
}

@media screen and (max-width: 600px) {
    #bottom-social {
        padding-top: 30px;
    } 
}